@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-gradient {
    background: linear-gradient(
      32.95deg,
      theme('colors[primary-300]') 8.75%,
      theme('colors[primary-400]') 86.64%
    );
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-[3px] bg-gray-400;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[3px] bg-primary-300;
  }
}

@font-face {
  font-family: NotoSans;
  src: url(@assets/fonts/NotoSansJP-Regular.otf);
}

@font-face {
  font-family: NotoSans;
  src: url(@assets/fonts/NotoSansJP-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: NotoSans;
  src: url(@assets/fonts/NotoSansJP-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url(@assets/fonts/Inter.ttf);
}

html {
  font-family: NotoSans;
}
